<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :offert_product_id %><br>
    <%= f.number_field :offert_product_id %>
  </div>
  <div class="field">
    <%= f.label :require_product_id %><br>
    <%= f.text_field :require_product_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
